
@{
    ViewBag.Title = "HW1";
}

<p></p>
<P>
    姓名：
    <input type="text" name="name" value="" />
</P>
<P>
    帳號：
    <input type="text" name="username" value="" />
</P>
<P>
    密碼：
    <input type="password" name="password" value="" />
</P>
<P>
    性別：
    <input type="radio" name="gender" value="A" /> 男性 
    <input type="radio" name="gender" value="B" /> 女性 
</P>
<P>
    興趣：
    <input type="checkbox" name="gender" value="A" /> 游泳 
    <input type="checkbox" name="gender" value="B" /> 閱讀 
    <input type="checkbox" name="gender" value="C" /> 看電影 
</P>
<P>
    自我介紹：
    <textarea name="message" rows="10" cols="30"></textarea>
</P>
